@function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);
    @if $index {
      @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }
    @return $string;
}


/* DROPDOWN BUTTON
*****************************/

$ezmodus-dropdown-border:           1px solid #ced4da !default;
$ezmodus-dropdown-border-radius:    3px !default;
$ezmodus-dropdown-background-color: #ffffff !default;
$ezmodus-dropdown-color:            #000000 !default;
$ezmodus-dropdown-width:            auto !default;
$ezmodus-dropdown-padding:          0 6px 1px 0 !default;
$ezmodus-dropdown-text-padding:     .375rem 1.75rem .375rem .75rem !default;
$ezmodus-dropdown-tick-width:       1rem !default;
$ezmodus-dropdown-tick-height:      1rem !default;
$ezmodus-dropdown-tick-color:       '#6c6c6c' !default;


/* DROPDOWN MENU
*****************************/

$ezmodus-menu-background-color:     #ffffff !default;
$ezmodus-menu-border:               1px solid #ced4da !default;
$ezmodus-menu-border-radius:        3px 3px 0 0 !default;
$ezmodus-menu-min-width:            120px !default;
$ezmodus-menu-max-width:            auto !default;
$ezmodus-menu-search-min-width:     180px !default;
$ezmodus-menu-search-max-width:     auto !default;


/*MENU SEARCH AREA AND INPUT
*****************************/
$ezmodus-search-padding:                6px 12px 0 12px !default;
$ezmodus-search-input-padding:          6px 12px !default;
$ezmodus-search-input-border:           1px solid #d6d6d6 !default;
$ezmodus-search-input-border-radius:    3px !default;


/* MENU CLEAR AREA AND BUTTON
*****************************/

$ezmodus-clear-padding:                 6px 12px 3px 12px !default;
$ezmodus-clear-button-text-padding:     .375rem 1.75rem .375rem .75rem !default;
$ezmodus-clear-button-color:            #6c6c6c !default;
$ezmodus-clear-button-background-color: #efefef !default;
$ezmodus-clear-button-width:            100% !default;
$ezmodus-clear-button-height:           32px !default;
$ezmodus-clear-button-border:           1px solid #d6d6d6 !default;
$ezmodus-clear-button-border-radius:    3px !default;


/* MENU NO RESULTS TEXT
*****************************/

$ezmodus-no-results-padding: 6px 12px !default;


/* MENU LIST AND ITEMS
*****************************/
$ezmodus-list-item-padding:                     6px 12px !default;
$ezmodus-list-item-color:                       #000000 !default;
$ezmodus-list-item-background-color:            transparent !default;
$ezmodus-list-item-background-color-hover:      #d6d6d6 !default;
$ezmodus-list-item-link-min-height:             1.2rem !default;
$ezmodus-list-item-link-text-padding:           0 12px 0 0 !default;
$ezmodus-list-item-checkmark-width:             1rem !default;
$ezmodus-list-item-checkmark-height:            1rem !default;
$ezmodus-list-item-checkmark-color:             '#6c6c6c' !default;
$ezmodus-list-item-subtext-color:               #6c6c6c !default;
$ezmodus-list-item-subtext-padding:             6px 0 3px $ezmodus-list-item-checkmark-width;
$ezmodus-list-item-disabled-color:              #999999 !default;
$ezmodus-list-item-disabled-background-color:   transparent !default;


