// @import "~bootstrap/scss/bootstrap";

body {
    font-size: 16px;
    font-family: 'Times New Roman', Courier, sans-serif;
    .testarea {
        display: flex;
        flex-wrap: wrap;
        .testbox {
            margin: 1rem 1rem 6rem 1rem;
            &.hide {
                display: none;
            }
            label {
                display: block;
                margin-bottom: 1rem;
                font-weight: bold;
            }
        }
    }
    .ezmodus-menu li.option-class {
        background-color: #eab5b5;
    }

    // .ezmodus-menu li {
    //     margin: 4px 12px;
    //     padding: 6px 12px;
    // }

    // .ezmodus-menu a {
    //     margin: 4px 12px;
    //     padding: 6px 12px;
    //     font-size: 2rem;
    // }

}
